/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.local
laravel-echo-server.json
laravel-echo-server.lock
.env.dev
.env.prod
docker-compose.yml
auth.json
/.idea
worker.log
composer.lock
/public/robots.dev.txt
/public/robots.prod.txt
/public/uploads/avatar
/public/uploads/links
/public/sitemap.xml
/public/sitemap-en.xml
/public/css
/public/js
/public/vendor
/public/mix-manifest.json
.phpstorm.meta.php
_ide_helper.php
/storage/oauth-private.key
/storage/oauth-public.key
/package-lock.json
/vendor_local/cq-froala/nova-froala-field/node_modules
/.bash_history
